
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@define-mixin gridify $col, $width, $gutter: 2 {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                width: calc((100 / $col) - $gutter)%;
            }
            @mixin-content;
        }
    }
}

@mixin gridify 2, 400 {}
@mixin gridify 4, 600 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

header{
    height: 2.5em;
    background-color: rgb(41, 38, 32);
    color: white;
    overflow: auto;
    padding: .25em;
    h3{
        float:left;
        color: white;
        margin-left: 20px;
    }
    .head_logo{
        margin-left: 10px;
        display: block;
        float:left;
        width: 60px;

    }
}

.wrapper{
    border-bottom: 1px solid gray;
    width: 70%;
    height: 60%;
    margin: auto;
    margin-top: 70px;
    padding: 10px;
}

input{
    width: 100%;
    height: 2em;
    border-radius: 5px;
    margin-bottom: 10px;
    &[type='submit']{
        margin-top: 30px;
        background-color: rgb(233, 190, 5);
    }
}

